#footerSection{
	text-align:center;
	bottom:0;
}
#footerSection .twitter{position:relative; display:inline-block; height:50px; width:50px; background:url(assets/images/t.png) no-repeat center center #00a0d1; z-index:1}
#footerSection .facebook{position:relative; display:inline-block; height:50px; width:50px; background:url(assets/images/f.png) no-repeat center center #3b5998; z-index:2}
