@import "../../../assets/sass/to-import.scss";

h1 {
    color: red;
}
.tabs{
	display:inline;
	float:left;

}
.search-container{
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/css/searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px 20px 12px 40px;
}
}
.chat-container {

  .panel-heading {
    height: 40px;
    padding: 8px 15px;
    margin: 0;
    margin-bottom: 4px;
    border: none;
    @include border-radius-separate($topLeftRadius: 0, $topRightRadius: 0, $bottomLeftRadius: 5px, $bottomRightRadius: 5px)
    background-color: lighten(#2c3e50, 20%);

    span {
      font-size: 12px;
      color: #BDBDBD;
    }

    button {
      padding: 6px 10px;
      margin-top: -5px;
    }
  }

  .msg-container {
    margin: 0;
    border: none;
    height: calc(100vh - 171px);
    overflow-y: scroll;
    @include transition("filter .2s ease-in 0s");
  }

  .panel-footer {
    @include transition("filter .2s ease-in 0s");

    form .input-group {
      width: 100%;
    }
  }
}