<div ng-app="myModal" ng-controller="myCtrl" class="container">
  <h3><b>TOPS</b></h3><br>
  <h6>Easy-to-wear, easy-to-love tops are here.</h6>
  <div style="text-align:right;  visibility:hidden;" id="AddTop">
  <a (click)="open(content)"  class="btn btn-default btn-lg" style="color:pink;" >
      <i  class="fa fa-plus"></i> Add new tops</a>
                <ng-template #content let-c="close" let-d="dismiss" >
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Tops</h4>
						<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
							<span aria-hidden="true">&times;</span>
						</button>
                    </div>
                    <div class="modal-body">
						<form role="form" (ngSubmit)="saveTop()" #topForm="ngForm">
						<div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							{{message}}
						</div>
							<div class="form-group">
								<label for="name">id</label>
								<input type="text" class="form-control" [(ngModel)]="top.id" name="id" required>
							</div>
							<div class="form-group">
								<label for="name">name</label>
								<input type="text" class="form-control" [(ngModel)]="top.name" name="name" required>
							</div>
							<div class="form-group">
								<label for="name">color</label>
								<input type="text" class="form-control" [(ngModel)]="top.color" name="color" required>
							</div>
							<div class="form-group">
								<label for="name">price</label>
								<input type="number" class="form-control" [(ngModel)]="top.price" name="price" required>
							</div>
							<div class="form-group">
								<label for="name">img</label>
								<input type="text" class="form-control" [(ngModel)]="top.img" name="img" required>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-success" [disabled]="!topForm.form.valid">Save</button>
							</div>
						</form>
                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-secondary" (click)="saveTop()">Save</button>-->
                    </div>
                </ng-template>
    </div>
</div>

  <div style="text-align:right;  visibility:hidden;" id="DeleteTop">
                <ng-template #deleteContent let-c="close" let-d="dismiss" >
                    <div class="modal-header">
                        <h4 class="modal-title">Delete top</h4>
						<button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
							<span aria-hidden="true">&times;</span>
						</button>
                    </div>
                    <div class="modal-body">
						<div class="alert alert-warning alert-dismissible" role="alert">
							ARE YOU SURE THAT YOU WANT TO DELETE THIS ITEM?
						</div>
						<button type="submit" class="btn btn-success" (click)="deleteTop(top._id)">YES</button>
						<button type="submit" style="margin-left:0" class="btn btn-danger" (click)="d('Cross click')" >NO</button>
                    </div>
                    <div class="modal-footer">
                    </div>
                </ng-template>
    </div>


<div class="container" id="TopsPanel">
  <br><br>
  <div class="row">
    <div class="panel panel-info" *ngFor="let top of tops">
	<div id="DeleteTop" *ngIf="getJwtToken()!==0" >
	<a (click)="openDelete(deleteContent,top)" class="btn btn-danger" style="color:white;">
      <i  class="fa fa-remove"></i>
	</a>
	</div>
      <div class="panel-body"> 
      <span>
        <img class ="flowering" src="{{ top.img }}" >
      </span>
	  </div>
	  <div  class="panel-footer" style="text-align:center;"> 
	  <label> <b>{{ top.name }}</b></label>
        <div> {{ top.price }} $</div>
		 <div id="AddItemToWhishlist" *ngIf="getConnected()!==0" >
	 <a (click)="addTopToWhishlist(top)" style="color:pink;" class="btn btn-default"  > Add to my bag </a>
	
	</div>
	 
	 
	  
    </div>
  </div>
  
  
</div>