<div class="login-page" [@routerTransition]>
	
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h3>Log in</h3>
			<br>
            <form (ngSubmit)="login()" #loginForm="ngForm">
				<div class="alert alert-warning alert-dismissible" role="alert" *ngIf="message !== ''">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{message}}
				</div>
                <div class="form-content">
                    <div class="form-group">
                        <input type="email" [(ngModel)]="loginData.mail" class="form-control input-underline input-lg" name="mail" placeholder="Email" required/>
					</div>

                    <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" placeholder="Password" [(ngModel)]="loginData.password" name="password" required/>
					</div>
                </div>
                <button class="btn rounded-btn" type="submit" [disabled]="!loginForm.form.valid" > Log in </button>
				<br>
                <p>
				Not a member? <a [routerLink]="['/signup']">Signup here</a>
				</p>
				
            </form>
        </div>
    </div>
</div>
